<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
</head>
<body>

<form action="find_product">
    Какой товар ищем?
    <input type="text" name = "s"/>
    <button type="submit">найти</button>
</form>

Посмотрите наш ассортимент
<div th:each="product : ${spisok_produktov}">
    <p>
        Название: <span th:text="${product.name}"/>
        цена: <span th:text="${product.cost}"/>
    </p>
</div>
<a href="/new_product">на карточку нового товара</a>

</body>
</html>